.d-bg-1{
    background-color: #1572A1;
}
.d-bg-2{
    background-color: #9AD0EC;
}
.d-bg-3{
    background-color: #EFDAD7;
}
.d-bg-4{
    background-color: #E3BEC6;
}
.d-1{
    color: #1572A1;
}
.d-2{
    color: #9AD0EC;
}
.d-3{
    color: #EFDAD7;
}
.d-4{
    color: #E3BEC6;
}